$color-primary: #18CCB1;                                        // 主题色
$color-primary-active: #5AF1DB;                                 // 选中主题色

$article-item-box-shadow-color: #D8D8D8;                        // 文章列表阴影颜色
$article-item-title-color: #636363;                             // 文章列表标题颜色
$article-item-introduction-default-color: #828282;              // 文章内容默认字体颜色
$article-item-operation-color: #828282;                         // 文章列表功能区文字颜色
